* {
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
}

html {
	font-family: arial;
}

body {
	min-width: 900px;
	background-color: #f0f0f0;
}

a {
	text-decoration: none;
}

.cover {
	margin: 100px auto;
	display: table;
}

.input {
	padding: 15px 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

.input input {
	padding: 0px 10px;
	width: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #404040;
	outline: none;
}

.keypadTypes {
	padding: 20px 0px;
	text-align: center;
	background-color: #fff;
	margin-bottom: 2px;
}

.type {
	padding: 6px;
	width: 100px;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #404040;
	border: 1px solid #C0C0C0;
}

.type + .type {
	margin-left: -1px;
}

.typeLeft {
	border-radius: 15px 0px 0px 15px;
}

.typeRight {
	border-radius: 0px 15px 15px 0px;
}

.keypadCover {
	padding: 40px;
	background-color: #fff;
	display: none;
}

.keypadCover.activeKeypad {
	display: block;
}

.keyRow {
	margin: 0px auto;
	display: table;
}

.key {
	margin: 5px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	line-height: 60px;
	color: #404040;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	background-color: #F0F0F0;
}

.regularKey {
	width: 50px;
}

.typeSelected, .keySelected {
	color: #202020;
	background-color: #C0C0C0;
}